<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.store.Mapper.AddressMapper">
    <resultMap id="AddressEntityMap" type="com.liu.store.entity.Address">
        <id column="aid" property="aid"/>
        <result column="province_code" property="provinceCode"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_code" property="cityCode"/>
        <result column="city_name" property="cityName"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="is_default" property="isDefault"/>
    </resultMap>

    <insert id="insert" >
        insert into address (uid,name,province_code,province_name,city_code,city_name,
                             area_code,area_name,zip,address,phone,tel,tag,is_default,created_user,
                             created_time,modified_user,modified_time)
                             values (
                                     #{uid},#{name},#{provinceCode},#{provinceName},
                                     #{cityCode},#{cityName},#{areaCode},#{areaName},
                                     #{zip},#{address},#{phone},#{tel},#{tag},#{isDefault},
                                     #{created_user},#{created_time},#{modified_user},#{modified_time}
                                        )
    </insert>
    <select id="countUserAddressByUid" resultType="java.lang.Integer">
        select count(*) from address where uid = #{uid}
    </select>

    <select id="findByUid" resultMap="AddressEntityMap">
        select * from address where uid = #{uid} order by is_default DESC, created_time
    </select>

    <update id="updateNotDefault">
        update address set is_default = 0, modified_user = #{modified_user} ,
                           modified_time = #{modified_time}
        where uid = #{uid} and is_default =1
    </update>
    <update id="updateDefault">
        update address set is_default = 1, modified_user = #{modified_user} ,
                           modified_time = #{modified_time}
        where aid = #{aid}
    </update>
    <select id="findByAid" resultMap="AddressEntityMap">
        select * from address where aid = #{aid}
    </select>
    <delete id="deleteByAid">
        delete from address where aid = #{aid}
    </delete>
</mapper>